:root {
  --light-apricot: #FDD0AB;
  --blue-bayoux: #496D75;
  --regal-blue: #00526D;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Work Sans', system-ui;
  line-height: 1.5em;
  color: var(--regal-blue);
  background-color: var(--light-apricot);
  background: url('../images/blob-scene.svg') center/cover no-repeat;
}

.app-wrapper {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
  display: grid;
  place-items: center;
}

.container {
  margin: 0 auto;
  width: clamp(18rem, 40vw, 40rem);
}

h1, h3 {
  margin: 0;
}

.hidden {
  opacity: 0;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.four-oh-four {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px) rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}