.wrapper {
  position: relative;
  margin-top: 3rem;
  display: grid;
  gap: 2em;
  place-items: center;
}

.wrapper > * + * {
  margin-left: 1em;
}

.box {
  position: relative;
  padding: .75em 1.25em;
  border: 2px solid var(--regal-blue);
  border-radius: 0.5em;
  font-size: 1.15em;
  display: flex;
  align-items: center;
  width: clamp(200px, 70%, 500px);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.box svg {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  transform: translateY(-50%);
}

.text {
  position: relative;
  text-align: center;
}

.button {
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 0.5em;
  color: var(--light-apricot);
  background: var(--regal-blue);
  border: 2px solid var(--light-apricot);
  font-size: 1.5rem;
  border-radius:4em;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  box-shadow: 0 0 0 0 transparent;
  outline: none;
}

.button svg {
  display: block;
}

@media (min-width: 30em) {
  .box {
    padding: 1em 1.5em;
  }
  .box svg {
    opacity: 0;
    transform: translateY(-50%) scale(0);
    transition: opacity 0.3s cubic-bezier(1, 0, 0, 1),
      transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
  }
}

@media (hover: hover) {
  .box:hover {
    cursor: pointer;
    padding: 1em 3.5em 1em 1.5em;
    background-color: hsl(195deg 100% 21% / 7.5%);
  }

  .box:hover svg {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  .button:hover {
    background: rgba(53, 55, 70 / 2.5%);
    transform: scale(1.15);
    box-shadow: 0 0 0 3px var(--regal-blue);
  }
}
